body{
	background-color:#e8e8e8;
	font-family: 'Montserrat', sans-serif;
}
html{
	scroll-behavior: smooth;
  }
.header{
	height:90vh;
	margin-bottom:80px;  
	width: 100%;
  }
  .row
  {
	max-width:1x;
	margin:0 auto;
	background-color: #f7f7f7;
  
  }
  .text-box{ 
	margin-top:30%;
	margin-left:18%;
  }
  [class^="col-"]
   { float:left;
	 
  }
  .col-1-of-2
  {
	width:calc((100% - 6rem)/2);}
	
  .primary-heading{
	margin-bottom:34px;
  }
  .primary-heading-main-sub{
  color:#777;
  font-size:19.5px;
  font-weight: 800;
  }
  
  .primary-heading-main{
	display:block;
	color:black;
	font-size: 60px;
	font-weight:800;
	animation-name:Moveinbottom;
	animation-duration:2.5s;
	letter-spacing:1px;
	font-family: 'Montserrat', sans-serif;
  }
  .primary-heading1{
	margin-bottom: 34px;
  }
  .primary-heading-sub{
	display:block;
	color:black;
	font-size:16px;
	font-weight: 800;
	letter-spacing: 0.4px;
	animation-name:Moveinbottom;
	animation-duration:2.5s;
	line-height: 30px;
	width: 80%;
	margin-left: 10px;
  }
  @keyframes Moveinbottom
  {
	0%{
		opacity:0;
		transform:translateY(10rem)
	}
	100%
	{opacity: 1;
		transform:translateY(1);
	}
  }
  .composition
  {
	  position: relative;
  }
  .composition__photo{
	  width:80%;
	  height: 500px;
	  box-shadow:0 1.5rem 2rem rgba(0,0,0,.4);
	  border-radius:2px ;
	  position: absolute;
	  z-index:1;
	  transition: all .2s;
	  outline-offset:1rem ;
  }
  .composition__photo--p1
  {   left:6rem;
	  top:8rem;
  }
  .composition__photo:hover
  {   outline: 5px solid teal;
	  transform:scale(1.05) translateY(-.5rem);
	  box-shadow:0 2.5rem 2rem rgba(0,0,0,.5);
	  z-index:1;
  }
#m{
	margin-left: 21.6px;
	margin-right: 21.6px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.left{
	width: 34%;
	color: white;
	border-top-left-radius:25px; 
}
.right{
	width: 56%;
	border-bottom-right-radius:25px;
}
.column{
	float: left;
	padding: 8px;
	height: 460px;
}
#Contact-Box{
	margin-top: 140px;
	margin-bottom: 100px;
	padding: 20px 60px 30px 140px;
}

#row:after{
	content: "";
	display: table;
	clear: both;
}


.Contact-us{
	align-content: right;
	padding: 25px 20px 20px 40px;
}

#query{

	font-weight: bold;
	color: #555555;
	font-size: 20px;
}

#Contacts-head{
	font-weight: 1000;
}

#Contacts-info{
	text-align: left;
	margin-top: 10px;
}

h4{
	padding: 8px;
}
.bold{
	font-size: larger;
	font-weight: 900;
	font: 1.4em 'Montserrat',Monsans-serif;
}

#Contact-table{
	
	margin-bottom: 30px;
}

td{
	padding: 14.4px;
}
label{
	font-weight: 900;
}
#Name{
  width: 100%;
  height: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 2px solid #C0C0C0;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

#city{
  width: 100%;
  height: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 2px solid #C0C0C0;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

#E_mail{
	width: 100%;
	height: 10px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 0px;
	border-bottom: 2px solid #C0C0C0;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
}

#PhoneNumber{
  width: 100%;
  height: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 2px solid #C0C0C0;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;

}
label{

	color: #696969;
}

textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#message{
	padding-left: 20px
}

#Submit-message{
	padding-left: 10px;
	width: 40px;
}
#social-network{
	padding-right: 65px;
	color: #555555;

	font-size: 22px;

}


@media screen and (max-width: 1024px){
	.composition__photo {
		display: none;
	}

}

 @media screen and (max-width: 1000px){
	.left{
		width: 100%;
	}
	.right{
		width: 100%;
	}

}

@media screen and (max-width: 400px){
	.left{
		width: 160%;
	}
	.right{
		width: 160%;
	}
}




