@import url('https://fonts.googleapis.com/css?family=ABeeZee');
html{
  scroll-behavior: smooth;
}
.header{
  background-color:#e8e8e8;
  height:90vh;
  margin-bottom:35px;  
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
.row
{
  max-width:1x;
  margin:0 auto;
  background-color: #f7f7f7;

}
.text-box{ 
  margin-top:26%;
  margin-left:10%;
}
[class^="col-"]
 { float:left;
   
}
.col-1-of-2
{
  width:calc((100% - 6rem)/2);}
  
.primary-heading{
  margin-bottom:34px;
}
.primary-heading-main-sub{
color:#777;
font-size:19.5px;
font-weight: 700;
}

.primary-heading-main{
  display:block;
  color:black;
  font-size: 60px;
  font-weight:800;
  animation-name:Moveinbottom;
  animation-duration:2.5s;
  letter-spacing:1px;
}
.primary-heading1{
  margin-bottom: 34px;
}
.primary-heading-sub{
  display:block;
  color:black;
  font-size:20px;
  font-weight: 800;
  letter-spacing: 0.5px;
  animation-name:Moveinbottom;
  animation-duration:2.5s;
  width: 80%;
}
@keyframes Moveinbottom
{
  0%{
      opacity:0;
      transform:translateY(10rem)
  }
  100%
  {opacity: 1;
      transform:translateY(1);
  }
}
.composition
{
    position: relative;
}
.composition__photo{
    width:100%;
    box-shadow:0 1.5rem 2rem rgba(0,0,0,.4);
    border-radius:2px ;
    position: absolute;
    z-index:1;
    transition: all .2s;
    outline-offset:1rem ;
}
.composition__photo--p1
{   left:3rem;
    top:11rem;
}
.composition__photo:hover
{   outline: 5px solid teal;
    transform:scale(1.05) translateY(-.5rem);
    box-shadow:0 2.5rem 2rem rgba(0,0,0,.5);
    z-index:1;
}

.flex-about{
    display: flex;
    flex-wrap: nowrap;
    background-color: #f3f2e3;
    margin: 100px 60px 40px 60px;
    justify-content: center;
}
.flex-about > div{
    width: 500px;
    margin: 10px;
    height: 500px; 
}
.flex-about .item{
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 10px 10px 10px ;
}
.item > div{
    width: 400px;
    height: 210px;
    margin: 30px 20px 5px 5px;
    border-color: #ecb291;
    border-width: 4px;
    border-style: solid;
    justify-content: center;
    text-align: center;
}
h1,h2,h3,h6,p,h4{
  font-family:'Montserrat', sans-serif;
}
.animate__animated.animate__fadeInDown{
    animation-delay: 1s;
}
.child:hover{
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.skills{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(image/2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 800;
}
.skills > div{
    height:400px;
    width: 400px;
    margin: 110px 10px 10px 20px ;
}
.circular-chart {
   display: block;
    margin: 10px ;
    max-width: 60%;
    max-height: 200px;
    padding-left: 15px;
  }
  
  .circle {
    display: inline-flex;
    stroke: #EFB031;
    fill: rgba(0, 0, 0, 0.5);
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards; 
  }
  .percentage {
    fill: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.4em;
    text-anchor: middle;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 80;
    }
  }
    
  .services-container {
      display: flex;
      padding: 0px;
      margin: 10px 15px 60px 15px;
    }

  .services-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid  dimgray;
      padding: 0px;
      font-size: 18px;
      text-align: center;
      height: 300px;
      width: 300px;
      grid-gap: 0px;
      font-weight: 700;
    }
    .services-item h1,h2{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 500;
    }

/* Design */
.portfolio,
.portfolio::before,
.portfolio::after {
  box-sizing: border-box;
}
.portfolio{
  max-width: 1120px;
  margin: 0 auto;
  color: #272727;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  padding: 1rem;
  background-color: #ecf9ff;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.portfolio h1 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.portfolio img {
  height: 250px;
  width: 350px;
  vertical-align: middle;
}


.portfolio img:hover{
    animation: shake 0.5s;
    animation-iteration-count: 0.5;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #c4d7d1;
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
}
.cards_item {
  display: flex;
  padding: 5px;
}

.card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card_content {
  padding: 10px;
  background-color: teal;
}
.card_title,.card_text {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}
  @media(max-width:1000px){
    .header{
      height: 700px;
      width: 100%;
    }
    .flex-about{
      margin: 100px auto 0 auto;
      width: 90%;
      justify-content: center;
      align-content: center;
    }
    .flex-about .items{
      flex-wrap: wrap;
    }
    .skills{
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
    }
    .skills > div{
      width: 300px;
      height: 300px;
    }
  }
  @media(max-width:900px){
    .flex-about{
      flex-wrap: wrap;
      justify-items: center;
    }
    .services-container{
      flex-wrap: wrap;
      justify-content: center;
  }
  }
  @media(max-width:750px){
    .composition__photo.composition__photo--p1{
      display: none;
    }
    .col-1-of-2{
      width: 90%;
    }
    .header{
      height:600px;
    }
    .flex-about{
      flex-direction: column;
      flex-wrap: wrap;
    }
    .flex-about > div{
      width:90%;
    }
    .skills{
      flex-wrap: wrap;
      height: auto;
    }
    .services-container{
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      margin: 40px auto;
      align-items: center;
    }
    .services-item{
      width: 80%;
    }
    
  }
  @media(max-width:550px){
    .flex-about .items{
      flex-direction: column;
    }
    .services-container{
      flex-direction: column;
    }

  }